@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        scrollbar-width: none;
    }

    .fade-left {
        animation-name: fade-left;
        animation-duration: 1s;
        animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
        animation-fill-mode: forwards;
    }

    .fade-right {
        animation-name: fade-right;
        animation-duration: 1s;
        animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
        animation-fill-mode: forwards;
    }

    .fade-up {
        animation-name: fade-up;
        animation-duration: 1s;
        animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
        animation-fill-mode: forwards;
    }

    .fade-down {
        animation-name: fade-down;
        animation-duration: 1s;
        animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
        animation-fill-mode: forwards;
    }

    .fade-in {
        animation-name: fade-in;
        animation-duration: 1s;
        animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
        animation-fill-mode: forwards;
    }

    .fade-up-d {
        animation-name: fade-up-less;
        animation-duration: 1s;
        animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
        animation-fill-mode: forwards;
        animation-delay: 200ms;
    }

    .exp-hover {
        transition: 0.1s ease-out;
    }

    .exp-hover:hover {
        transform: scale(1.03);
    }

    @keyframes fade-left {
        from {
            translate: 100px;
            opacity: 0;
        }
        to {
            translate: 0px;
            opacity: 1;
        }
    }

    @keyframes fade-right {
        from {
            translate: -100px;
            opacity: 0;
        }
        to {
            translate: 0px;
            opacity: 1;
        }
    }

    @keyframes fade-up {
        from {
            translate: 0px 100px;
            opacity: 0;
        }
        to {
            translate: 0px;
            opacity: 1;
        }
    }

    @keyframes fade-up-less {
        from {
            translate: 0px 50px;
            opacity: 0;
        }
        to {
            translate: 0px;
            opacity: 1;
        }
    }

    @keyframes fade-down {
        from {
            translate: 0px -100px;
            opacity: 0;
        }
        to {
            translate: 0px;
            opacity: 1;
        }
    }

    @keyframes fade-in {
        from {
            /* translate: 0px -100px; */
            opacity: 0;
        }
        to {
            /* translate: 0px; */
            opacity: 1;
        }
    }

    ::-webkit-scrollbar {
        width: 5px;
    }

    ::-webkit-scrollbar-track {
        background-color: #f1f5f9;
        border-radius: 5px;
    }

    ::-webkit-scrollbar-thumb {
        /* background-color: #e2e8f0; */
        background-color: #5b5b5b;
        border-radius: 5px;
    }
}